################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Business/obj
/Business.CallAPI/bin
/Business.CallAPI/obj/Debug
/Business.CallAPI/obj/Release
/Business/bin
/Business.Contracts/bin
/Business.Dto/bin
/Business.Dto/obj/Debug
/Business.Dto/obj/Release
/ChatbotDesarrollo.Core/bin
/ChatbotDesarrollo.Core/obj
/Common.BusinessException/bin
/Common.BusinessException/obj
/Common.CallApi/bin
/Common.CallApi/obj
/Common.Services.Interceptor/bin
/Common.Services.Interceptor/obj
/Common.Utility/bin/Debug
/Common.Utility/bin/Release
/Framework.Core/bin
/Framework.FrontApplication/bin
/Framework.FrontApplication/obj
/ModelChatbotDesarrollo.Core/bin
/ModelChatbotDesarrollo.Core/obj
/packages
/WebApiMiddelware/bin
/WebApiMiddelware/obj/Debug
/WebApiMiddelware/obj/Release
/WebFront/bin
