<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <aliases>
    <add alias="IEntityContextManager" type="Framework.Core.IEntity.IEntityContextManager, Framework.Core" />
    <add alias="EntityContextManagerWithParam" type="ChatbotDesarrollo.Core.Injection.EntityContextManagerChatbotDesarrollo, ChatbotDesarrollo.Core" />

    <!--Servicios Chatbot_DesarrolloEntities-->
	<add alias="ChatServices" type="ChatbotDesarrollo.Core.Services.ChatServices, ChatbotDesarrollo.Core" />
	<add alias="ShopServices" type="ChatbotDesarrollo.Core.Services.ShopServices, ChatbotDesarrollo.Core" />
	<add alias="UserServices" type="ChatbotDesarrollo.Core.Services.UserServices, ChatbotDesarrollo.Core" />
    
  </aliases>
  <container name="moduleCRM">
    <register type="IEntityContextManager" mapTo="EntityContextManagerWithParam">
      <constructor>
        <param name="connectionString" type="System.String">
          <value value="" typeConverter="Framework.Core.Connection.ConnectionStringTypeConverter, Framework.Core"/>
        </param>
      </constructor>
    </register>

    <!--Servicios Chatbot_DesarrolloEntities-->
	<register type="ChatServices" />
	<register type="ShopServices" />
	<register type="UserServices" />

  </container>
</unity>
